<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Current Exchange Rate</title>
	<link href="/public/stylesheets/style.css" rel="stylesheet">
	<link href="/public/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	</head>

	<style>
		body{
			background-image: url("/public/images/abstract-mosaic-background.png");
			margin: 0;
			background-position: center bottom;
  			background-attachment: fixed;
  			background-size: cover;
  			height: 100%;
  			font-size: 100%;
		}
	</style>
	<body>
		{{{body}}}
	</body>
</html>