
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col_1">
    	<h3>col-1</h3>
      <div class="styled-select currency">
        <select>
        <option>CAD</option>
        <option>USD</option>
        </select>
      </div>
      <div class="digital_numbers">
        <p>12345</p>
      </div>
      <div class="flag_images">
      </div>
    </div>



    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col_2">
    	<h3>col-2</h3>
      <div class="styled-select currency">
        <select>
        <option>CAD</option>
        <option>USD</option>
        </select>
      </div>
      <div class="digital_numbers">
        <p>12345</p>
      </div>
      <div class="flag_images">
      </div>
    </div>
  </div>



  <div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_3">
  		<h3>col-3</h3>
      <div class="row">
        <div class="input_form">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 input_1">
            <input id="input_bar_1">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 exchange_icon">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 input_2">
            <input id="input_bar_2">
          </div>
      </div>
      </div>
  	</div>
  </div>
</div>