
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col_1">
      <div class="styled-select currency">
        <select>
        <option>CAD</option>
        <option>USD</option>
        </select>
      </div>
      <div class="digital_numbers">
        <p>12345</p>
      </div>
      <div class="flag_images">
      </div>
    </div>



    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col_2">
    	<div class="styled-select currency">
        <select>
        <option>CAD</option>
        <option>USD</option>
        </select>
      </div>
      <div class="digital_numbers">
        <p>12345</p>
      </div>
      <div class="flag_images">
      </div>
    </div>
  </div>



  <div class="row">
    <div class="input_form">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 input_1">
        <input id="input_bar_1" placeholder="Whatever you select from above">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 input_2">
        <input id="input_bar_2" placeholder="Whatever you select from above">
      </div>
    </div>
  </div>
</div>