@font-face{
	font-family: "DSEG7";
	src:url("../font/DSEG_v030/DSEG7/Modern-MINI/DSEG7ModernMini-Regular.ttf");
}


.container{
	height:100%;
	margin-top:30px;
	padding: 20px;
	border-radius: 8px;
	position:relative;
	border-bottom: 1px solid;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(23, 22, 22, 0.5);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.col_1{
	background-color: rgba(63, 191, 63, 0.5);
}
.col_1 h3,
.col_2 h3,
.col_3 h3{
	font-size: 30px;
	font-family: "DSEG7";
}
.col_2{
	background-color: rgba(236, 122, 8, 0.5);
}

.col_3{
	background-color: rgba(249, 243, 67, 0.5);
}
		
.styled-select {
	height: 29px;
	overflow: hidden;
	width: 80%;
}
.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px; 
	width: 268px;
}

.currency{
	border-radius: 5px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

.digital_numbers{
	background-color: rgba(152, 67, 249, 0.5);
	border: none;
	border-radius: 4px;
}

.digital_numbers p{
	font-family: "DSEG7";
	font-size: 80px;
	text-align: center;
	color:#fff;

}

.container input{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: rgba(255,255,255,0.2);
	margin-bottom: 4%;
	border: none;
	border-radius: 4px;
	padding: 3%;
	color: #fff;
	font: 100% Arial, Helvetica, sans-serif;
	border: 1px solid transparent;
}
.container input:focus{
	box-shadow: 0 0 5px #fff;
	padding: 3%;
	border: 1px solid #fff;
}